<div class="setting page">
  <div id="termPage">
    <h1>Terms &amp; Privacy</h1>

    <section>
      <h2>Terms of Service</h2>

      <p>You are responsible for your use of the services, and for any consequences thereof.
  Your access to and use of the service or any content are at your own risk.</p>
    </section>
      <h2>Disclaimer of Warranties</h2>

      <p>We disclaim all warranties and conditions, whether express or implied, of merchantability, fitness for a particular purpose, or non-infringement.</p>
    </section>

    <section>
      <h2>Privacy</h2>

      <p>We collect access log such as your IP address, browser, operating system, the referring web page and pages visited not contain your account or your subscriptions and theirs contents information).</p>
    </section>

    <div class="buttons clearfix">
      <a href="#!settings" class="button back" target="_self">Back</a>
    </div>
  </div>

  <footer>
    <p>&apos;Deck&apos; is not a representative of GitHub. GitHub and the GitHub logos are Trademarks of GitHub, Inc.<br> All other trademarks and copyrights are property of their respective owners.</p>
    <p>&copy; 2018 <a href="https://github.com/tilfin">tilfin</a> all rights reserved.</p>
  </footer>
</div>
