<template>
  <div class="timeline backlog">
    <header>
      <a href="{{url}}">
        <span class="service">Backlog</span>
        <span class="project">{{name}}</span>
      </a>
    </header>
    <div class="timelineBody"></div>

    <template id="BacklogItem">
      <div class="backlogItem"></div>
    </template>

    <template id="BacklogEvent">
      <div class="backlogEvent">
        <header>
          <a class="eventRepo" href="{{projectUrl}}">{{project.name}}</a>
          <span class="eventTime"><time>{{createdAt}}</time></span>
        </header>

        <div class="eventInfo">
          <span class="actor">{{actor.name}}</span> &nbsp;
          <span class="action updateIssue">{{action}}</span>
        </div>
        <div class="issue">
          <a href="{{url}}">{{projectKeyId}}</a>
          <span>{{summary}}</span>
        </div>

        <div class="issueChanges">
          <template id="issueChange">
            <p class="issueChange">
              <span class="changeField">{{field}}</span>
              <span class="changeOld">{{oldValue}}</span>
              <span class="changeMark">{{mark}}</span>
              <span class="changeNew">{{newValue}}</span>
            </p>
          </template>
        </div>

        <div class="commentBody quote"></div>

        <div class="issueAttachments">
          <template id="imageAttachment">
            <p class="issueAttachment">
              <span class="changeNew">{{name}}</span><br>
              <img src="{{imageUrl}}" alt="{{name}}">
            </p>
          </template>
        </div>
      </div>
    </template>

    <template id="BacklogFileEvent">
      <div class="backlogFileEvent backlogEvent ghEvent">
        <header>
          <a class="repo" href="{{projectUrl}}">{{project.name}}</a>
          <span class="eventTime"><time>{{createdAt}}</time></span>
        </header>

        <div class="eventInfo">
          <span class="actor">{{actor.name}}</span> &nbsp;
          <span class="action updateIssue">{{action}}</span>
        </div>

        <div class="issue">
          <span>{{file}}</span>
        </div>
      </div>
    </template>

    <template id="BacklogWikiEvent">
      <div class="backlogWikiEvent backlogEvent ghEvent">
        <header>
          <a class="repo" href="{{projectUrl}}">{{project.name}}</a>
          <span class="eventTime"><time>{{createdAt}}</time></span>
        </header>

        <div class="eventInfo">
          <span class="actor">{{actor.name}}</span> &nbsp;
          <span class="action wiki">{{action}}</span>
        </div>

        <div class="issue">
          <span>{{file}}</span>
        </div>

        <div class="commentBody quote"></div>
      </div>
    </template>

    <template id="BacklogJoinEvent">
      <div class="backlogJoinEvent backlogEvent ghEvent">
        <header>
          <a class="repo" href="{{projectUrl}}">{{project.name}}</a>
          <span class="eventTime"><time>{{createdAt}}</time></span>
        </header>

        <div class="eventInfo">
          <span class="actor">{{actor.name}}</span> &nbsp;
          <span class="action projectUser">{{action}}</span>
        </div>

        <div class="joinProject">
         <p>{{users}} がメンバー{{move}}</p>
        </div>
      </div>
    </template>

    <template id="BacklogGitPushEvent">
      <div class="BacklogGitPushEvent backlogEvent ghEvent">
        <header>
          <a class="repo" href="{{projectUrl}}">{{project.name}}</a>
          <span class="eventTime"><time>{{createdAt}}</time></span>
        </header>

        <div class="eventInfo">
          <span class="actor">{{actor.name}}</span> &nbsp;
          <span class="action gitPushed">{{action}}</span>
        </div>

        <div class="issue">
          <a href="{{repoUrl}}">{{repoName}}</a>　の
          <a class="branch-ref" href="{{branchUrl}}">{{branch}}</a>
        </div>

        <div class="pushCommits">
          <template id="pushCommit">
            <p class="pushCommit">
              <a href="{{commitUrl}}"><code>{{sha}}</code></a>
              <span>{{message}}</span>
            </p>
          </template>
        </div>
      </div>
    </template>
  </div>
</template>
