<template>
  <div class="timeline github">
    <header class="timelineHeader">
      <a href="{{url}}">
        <span class="service">GitHub</span>
        <span class="project">{{name}}</span>
      </a>
    </header>
    <div class="timelineBody"></div>

    <template id="GitHubItem">
      <div class="githubItem"></div>
    </template>

    <template id="CreateEvent">
      <div class="createEvent ghEvent">
        <time class="eventTime">{{createdAt}}</time>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
           <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
           <span>{{actor.login}}</span>
          </a>
          <span class="word">created</span>
          <span class="repoTarget">
            <span class="octicon octicon-{{octicon}}"></span>
            <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          </span>
        </div>
      </div>
    </template>

    <template id="CommitCommentEvent">
      <div class="commitCommentEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{comment.htmlUrl}}"><time>{{comment.createdAt}}</time></a>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{comment.user.htmlUrl}}">
            <img class="avatar avatar-small" src="{{comment.user.avatarUrl}}">
            <span>{{comment.user.login}}</span>
          </a>
          <span class="action"><span class="octicon octicon-comment"></span></span>
          <span class="word" style="margin-left:.8ex">on</span>
          <span class="repoTarget">
            <span class="octicon octicon-git-commit"></span>
            <a href="{{comment.htmlUrl}}">
              <code>{{sha}}</code>
              <span class="filePath">{{comment.path}}</span>
            </a>
          </span>
        </div>
        <div class="commentBody quote"></div>
       </div>
      </div>
    </template>

    <template id="ForkEvent">
      <div class="forkEvent ghEvent">
        <time class="eventTime">{{createdAt}}</time>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="word">forked</span>
          <a href="{{forkee.htmlUrl}}" class="action fork"><span class="octicon octicon-repo-forked"></span></a>
          <span class="repoTarget">
            <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          </span>
        </div>
      </div>
    </template>

    <template id="GollumEvent">
      <div class="gollumEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <span class="eventTime"><time>{{createdAt}}</time></span>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{actor.url}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="gollumPageUpdates">
            <template id="gollumPageUpdate">
              <span>
                <span class="word">{{action}}</span>
                <span class="action wiki"><span class="octicon octicon-{{octicon}}"></span></span>
                <a class="repoTarget" href="{{htmlUrl}}">{{title}}</a>
              </span>
            </template>
          </span>
        </div>
      </div>
    </template>

    <template id="IssuesEvent">
      <div class="issueEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{htmlUrl}}"><time>{{createdAt}}</time></a>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <p class="eventTitle">
            <span class="octicon octicon-{{octicon}} {{action}}"></span>
            <a class="issueTitle" href="{{htmlUrl}}">#{{number}} {{title}}</a>
          </p>
        </div>
        <div class="issueBody quote"></div>
      </div>
    </template>

    <template id="IssueCommentEvent">
      <div class="issueEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{comment.htmlUrl}}"><time>{{comment.createdAt}}</time></a>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{comment.user.htmlUrl}}">
            <img class="avatar avatar-small" src="{{comment.user.avatarUrl}}">
            <span>{{comment.user.login}}</span>
          </a>
          <span class="action"><span class="octicon octicon-comment-discussion"></span></span>
        </div>
        <div class="sub">
          <p class="eventTitle">
            <span class="octicon octicon-{{octicon}}"></span>
            <a class="issueTitle" href="{{issue.htmlUrl}}">#{{issue.number}} {{issue.title}}</a>
          </p>
          <div class="issueBody quote"></div>
        </div>
        <div class="commentBody quote"></div>
      </div>
    </template>

    <template id="MemberEvent">
      <div class="memberEvent ghEvent">
        <time class="eventTime">{{createdAt}}</time>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="word">{{action}}</span>
          <a class="actor" href="{{rootUrl}}/{{member.login}}">
            <img class="avatar avatar-small" src="{{member.avatarUrl}}">
            <span>{{member.login}}</span>
          </a>
          <span class="octicon octicon-arrow-small-right"></span>
          <span class="repoTarget">
            <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          </span>
        </div>
      </div>
    </template>

    <template id="PublicEvent">
      <div class="publicEvent ghEvent">
        <time class="eventTime">{{createdAt}}</time>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="word">made</span>
          <span class="repoTarget">
            <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          </span>
          <span class="word">public</span>
        </div>
      </div>
    </template>

    <template id="PullRequestEvent">
      <div class="pullReqEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{pullRequest.htmlUrl}}"><time>{{createdAt}}</time></a>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="mergeTarget">
            <a class="branch-ref" href="{{pullRequest.head.repo.htmlUrl}}/tree/{{pullRequest.head.ref}}">{{pullRequest.head.ref}}</a>
            <span class="octicon octicon-arrow-small-right"></span>
            <a class="branch-ref" href="{{pullRequest.base.repo.htmlUrl}}/tree/{{pullRequest.base.ref}}">{{pullRequest.base.ref}}</a>
          </span>
          <p class="eventTitle">
            <span class="action {{action}}"><span class="octicon octicon-{{octicon}}"></span></span>
            <a class="issueTitle" href="{{pullRequest.htmlUrl}}">#{{number}} {{pullRequest.title}}</a>
          </p>
        </div>
        <div class="pullReqBody quote"></div>
      </div>
    </template>

    <template id="PullRequestReviewEvent">
      <div class="issueEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{review.htmlUrl}}"><time>{{review.submittedAt}}</time></a>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{comment.user.htmlUrl}}">
            <img class="avatar avatar-small" src="{{comment.user.avatarUrl}}">
            <span>{{comment.user.login}}</span>
          </a>
          <span class="action"><span class="octicon octicon-comment-discussion"></span></span>
        </div>
        <div class="sub">
          <p class="eventTitle">
            <span class="octicon octicon-{{octicon}}"></span>
            <a class="issueTitle" href="{{pullRequest.htmlUrl}}">#{{number}} {{pullRequest.title}}</a>
          </p>
          <div class="issueBody quote"></div>
        </div>
        <div class="commentBody quote"></div>
      </div>
    </template>

    <template id="PullRequestReviewCommentEvent">
      <div class="issueEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{comment.htmlUrl}}"><time>{{comment.createdAt}}</time></a>
        </header>
        <div class="eventInfo">
          <a class="actor" href="{{comment.user.htmlUrl}}">
            <img class="avatar avatar-small" src="{{comment.user.avatarUrl}}">
            <span>{{comment.user.login}}</span>
          </a>
          <span class="action"><span class="octicon octicon-comment"></span></span>
        </div>
        <div class="sub">
          <p class="eventTitle">
            <span class="octicon octicon-git-pull-request"></span>
            <a class="issueTitle" href="{{pullRequest.htmlUrl}}">#{{pullRequest.number}} {{pullRequest.title}}</a>
          </p>
          <div class="diff quote">
            <p class="filePath"><a href="{{comment.htmlUrl}}">{{comment.path}}</a></p>
            <div class="diffBody"></div>
          </div>
        </div>
        <div class="commentBody quote"></div>
      </div>
    </template>

    <template id="PushEvent">
      <div class="pushEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{htmlUrl}}"><time>{{createdAt}}</time></a>
        </header>

        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="action push">
            <span class="word">pushed</span>
            <span class="octicon octicon-repo-push"></span>
          </span>
          <span class="repoTarget">
            <a class="branch-ref" href="{{rootUrl}}/{{repo.name}}/tree/{{branch}}">{{branch}}
            </a>
          </span>
        </div>

        <div class="pushCommits">
          <template id="pushCommit">
            <p class="pushCommit">
              <a href="{{commitUrl}}"><code>{{sha}}</code></a>
              <span class="msg">{{message}}</span>
            </p>
          </template>
        </div>
      </div>
    </template>

    <template id="ReleaseEvent">
      <div class="releaseEvent ghEvent">
        <header>
          <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          <a class="eventTime" href="{{htmlUrl}}"><time>{{createdAt}}</time></a>
        </header>

        <div class="eventInfo">
          <a class="actor" href="{{author.htmlUrl}}">
            <img class="avatar avatar-small" src="{{author.avatarUrl}}">
            <span>{{author.login}}</span>
          </a>
          <span class="word">released</span>
          <span class="repoTarget">
            <a href="{{htmlUrl}}"><span class="octicon octicon-tag"></span> {{tagName}}</a>
          </span>
          <span class="repoTarget">
            <span class="word">on</span>
            <span class="branch-ref">{{targetCommitish}}</span>
          </span>
        </div>
      </div>
    </template>

    <template id="WatchEvent">
      <div class="watchEvent ghEvent">
        <time class="eventTime">{{createdAt}}</time>
        <div class="eventInfo">
          <a class="actor" href="{{rootUrl}}/{{actor.login}}">
            <img class="avatar avatar-small" src="{{actor.avatarUrl}}">
            <span>{{actor.login}}</span>
          </a>
          <span class="action star"><span class="octicon octicon-star"></span></span>
          <span class="repoTarget">
            <a class="repo" href="{{rootUrl}}/{{repo.name}}">{{repo.name}}</a>
          </span>
        </div>
      </div>
    </template>
  </div>
</template>
