<div id="introPage">
  <div class="wall"></div>
  <div class="intro">
    <h1>
      <img src="img/apple-touch-icon-72x72.png" style="border-radius: 8px; vertical-align: middle;">
      <span>Deck</span>
    </h1>

    <div class="content">
      <p>
        &apos;Deck&apos; is a multi-timeline viewer for <a href="https://github.com/" rel="nofollow">GitHub</a> repository events.<br>
        It is also supported for <a href="http://www.backlog.jp/" rel="nofollow">Backlog</a> produced by Nulab Inc.<br>
        It is made of responsive design for PC or mobile modern browsers.
      </p>

      <div class="buttons clearfix">
        <a class="button" href="#!setting/timeline" target="_self">Get Stared Now</a>
        <a class="button" href="#!demo" target="_self">See a Demo</a>
      </div>

      <p>
        All your account information are saved in local storage of the browser.<br>
        Your data is not saved on server-side at all.<br>
        Setting import/export is supported so as to move yours to another browser.
      </p>
    </div>

    <footer>
      <p>&apos;Deck&apos; is not a representative of GitHub. GitHub and the GitHub logos are Trademarks of GitHub, Inc.<br> All other trademarks and copyrights are property of their respective owners.</p>
      <p>&copy; 2016 <a href="https://github.com/tilfin">tilfin</a> all rights reserved.</p>
    </footer>
  </div>
</div>
