<div class="setting page">
  <h1>Settings</h1>

  <nav class="naviList">
    <a href="#!settings/timeline" target="_self">Customize timelines</a>
    <a href="#!settings/port" target="_self">Import/Export setting</a>
    <a href="#!term" target="_self">Terms &amp; Privacy</a>
    <a href="#!settings/credit" target="_self">Credit</a>
  </nav>

  <div class="buttons clearfix">
    <a href="#!/" class="button" target="_self">Back</a>
  </div>

  <footer>
    <p>&apos;Deck&apos; is not a representative of GitHub. GitHub and the GitHub logos are Trademarks of GitHub, Inc.<br> All other trademarks and copyrights are property of their respective owners.</p>
    <p>&copy; 2016 <a href="https://github.com/tilfin">tilfin</a> all rights reserved.</p>
  </footer>
</div>
