<div>
  <h1>Add GitHub timeline</h1>

  <section>
    <h2>1. Account</h2>

    <form id="accountForm">
      <div class="field">
        <label for="githubToken">Access Token</label>
        <input name="githubToken" type="text" class="full" placeholder="Access Token">
        <p class="remarks">
          <a href="https://github.com/settings/tokens" target="_blank">Create token for Deck</a>
          （Please check <b>repo</b>, <b>user</b>, <b>read:org</b>, <b>notifications</b> at <b>Select scopes</b>!）
        </p>
      </div>

      <div class="field">
        <label for="gheUrl">Root URL for GitHub Enterprize</label>
        <input name="gheUrl" type="text" class="large" value="" placeholder="https://github.yourcompany.com">
        <p class="remarks">Let it empty if you use github.com</p>
      </div>

      <button class="button primary" type="submit">Activate</button>
    </form>
  </section>

  <section>
    <h2>2. Timeline</h2>

    <form id="yourTimelineForm">
      <fieldset class="field" disabled="disabled">
        <label>Your timelines</label>
        <select id="githubTimelineSelect" name="value">
          <template id="githubTimelineItem">
            <option value="{{value}}">{{caption}}</option>
          </template>
        </select>
        <button type="submit" class="button primary">Add timeline</button>
      </fieldset >
    </form>

    <form id="repositoryForm">
      <fieldset  class="field" disabled="disabled">
        <label>Repository</label>
        <input type="text" name="value" class="large" value="" placeholder="owner/repository">
        <button type="submit" class="button primary">Add timeline</button>
      </fieldset>
    </form>

    <form id="publicTimelineForm">
      <fieldset  class="field" disabled="disabled">
        <label>Public Timeline</label>
        <button type="submit" class="button primary">Add timeline</button>
      </fieldset>
    </form>
  </section>

  <hr>

  <div class="form-actions">
    <button class="button" id="cancelButton">Cancel</button>
  </div>
</div>
