<div>
  <h1>Import/Export</h1>

  <form id="portForm">
    <div class="field">
      <label for="snippet">Setting JSON:</label>
      <textarea id="snippet"></textarea>
    </div>

    <div class="buttons clearfix">
      <button class="button" id="exportButton">Show current setting</button>
      <button class="button primary" id="importButton">Apply json to setting</button>
    </div>
  </form>
  <hr>
  <div class="buttons clearfix">
    <a href="#!setting/list" class="button back" target="_self">Back</a>
  </div>
</div>
